<h1>Editing survey</h1>

<!--
body {font-size: 14px;}
p {font-size: 14px;}
div {font-size: 14px;}
td {font-size: 80%;}
th {font-size: 120%; color:#ff0000; font-weight:bold;}
--> 

<%= render 'form' %>

<%= link_to 'Show', @survey %> |
<%= link_to 'Back', surveys_path %>
